<p id="notice"><%= notice %></p>

<h1>Interviews</h1>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Datetime</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @interviews.each do |interview| %>
        <tr>
          <td><%= interview.scheduled_datetime %></td>
          <td><%= interview.accepted %></td>
          <td><%= link_to 'Edit', edit_user_interview_path(current_user.id, interview), class: "btn btn-primary" %></td>
          <td><%= link_to 'Remove', user_interview_path(current_user.id, interview),
          method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'New Interview', new_user_interview_path, class: "btn btn-default" %>
