<p id="notice"><%= notice %></p>

<h1>Interviews</h1>

<table>
  <thead>
    <tr>
      <th>Scheduled datetime</th>
      <th>Accepted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= interview.scheduled_datetime %></td>
        <td><%= interview.accepted %></td>
        <td><%= link_to 'Edit', edit_user_interview_path(current_user.id, interview) %></td>
        <td><%= link_to 'Destroy', user_interview_path(current_user.id, interview), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interview', new_user_interview_path %>
